@import "./variables.css";

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: var(--color-text-dark);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-primary));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--color-accent));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: var(--color-background-lighter);
  border-radius: 8px;
  box-shadow: var(--shadow-md);
}

.read-the-docs {
  color: var(--color-text-light);
}

main {
  padding-top: 126px; /* Default for banner visible */
  transition: padding-top 0.3s ease;
}

main:not(.with-banner) {
  padding-top: 68px; /* When banner is not visible */
}
